body {
    background: linear-gradient(blue, red, green);
    background-attachment: fixed;
    display: grid;
    text-align: center;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 3px dashed gray;
    width: 300px;margin: auto;
    font-size: bold;
    color: white;
}

.sectionContent {
    text-align: center;
    border: 8px solid gray;
    width: 250px;
    height: auto;
    border-radius: 20px;
    line-height: 30px;
    margin: auto;
    background-color: yellow;
}

button {
    background-color: gray;
    border-radius: 8px;
    border: 3px solid black;
    color: white;
    width: auto;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    margin: 30px 0 10px 0;
}

input {
    width: 90%;
    margin-top: 10px ;
}